*.png
*.wav
dist/
build/
*.egg-info/
__pycache__/
**/__pycache__/
*.pyc
venv/
**/.DS_Store
.DS_Store
docs/_build/

.paper/

!web/blueprint_pipeline/Screenshot.png
!web/room_creator/Screenshot.png

!examples/engines/audio_sources/
!examples/engines/audio_sources/*.wav

# Allow wav files from docs/_static
!docs/_static/*.wav
rayroom/__pycache__/__init__.cpython-314.pyc
rayroom/__pycache__/audio.cpython-314.pyc
rayroom/__pycache__/core.cpython-314.pyc
rayroom/__pycache__/materials.cpython-314.pyc
rayroom/__pycache__/objects.cpython-314.pyc
rayroom/__pycache__/physics.cpython-314.pyc
rayroom/__pycache__/room.cpython-314.pyc
rayroom/__pycache__/visualize.cpython-314.pyc
.DS_Store
docs/_build/.DS_Store
examples/outputs/medical_room_meshes/MedicalRoom4_5M.json
examples/outputs/medical_room_meshes/MedicalRoom6M.json
examples/outputs/medical_room_meshes/MedicalRoom8M.json
examples/outputs/medical_room_meshes/MedicalRoom9_5M.json
examples/outputs/medical_room_meshes/MedicalRoom12M.json
examples/outputs/medical_room_meshes/MedicalRoom15M.json
examples/outputs/medical_room_meshes/MedicalRoom16MConsulting.json
examples/outputs/medical_room_meshes/MedicalRoom16MExamination.json
examples/outputs/medical_room_meshes/MedicalRoom18M.json
examples/outputs/medical_room_meshes/MedicalRoom20M.json
examples/outputs/medical_room_meshes/MedicalRoom24M.json
examples/outputs/medical_room_meshes/MedicalRoom32M.json
examples/engines/run_all_demos.sh

examples/engines/outputs_audios/*
web/blueprint_pipeline/outputs/*
